.u-section-1 {
  background-image: url("images/tempsnip.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 597px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 77px;
  height: 77px;
  background-image: url("images/cinemeye_logo.JPG");
  background-position: 50% 50%;
  margin: 79px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: -72px -160px 0 139px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 26px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-image-1 {
    width: 106px;
    height: 106px;
    margin-top: 30px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 128px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 265px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 203px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/wall1.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 728px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 460px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 345px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 217px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 751px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 1px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: 72px auto 0 129px;
  padding: 16px 26px 17px 24px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -55px auto 0 259px;
  padding: 16px 26px 17px 24px;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -55px auto 0 388px;
  padding: 16px 25px 17px 24px;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -55px auto 0;
  padding: 16px 7px 17px;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -55px 381px 0 auto;
  padding: 16px 30px 17px;
}

.u-section-4 .u-btn-6 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -55px 0 0 auto;
  padding: 16px 30px 17px;
}

.u-section-4 .u-btn-7 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -55px 252px 0 auto;
  padding: 16px 36px 17px 34px;
}

.u-section-4 .u-btn-8 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -55px 127px 0 auto;
  padding: 16px 19px 17px 18px;
}

.u-section-4 .u-btn-9 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: -55px auto 0 0;
  padding: 16px 30px 17px;
}

.u-section-4 .u-text-3 {
  letter-spacing: 0px;
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 30px auto 0 -18px;
}

.u-section-4 .u-text-4 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -130px 897px 0 117px;
}

.u-section-4 .u-text-5 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -310px 772px 0 252px;
}

.u-section-4 .u-text-6 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -160px 644px 0 384px;
}

.u-section-4 .u-text-7 {
  line-height: 2.2;
  font-size: 0.875rem;
  width: 126px;
  margin: -230px auto 0;
}

.u-section-4 .u-text-8 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -130px 370px 0 641px;
}

.u-section-4 .u-text-9 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -280px 248px 0 781px;
}

.u-section-4 .u-text-10 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -230px 120px 0 900px;
}

.u-section-4 .u-text-11 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -230px -18px 0 1019px;
}

.u-section-4 .u-shape-1 {
  width: 520px;
  height: 154px;
  background-image: none;
  margin: -190px -14px 0 auto;
}

.u-section-4 .u-btn-10 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: 66px -27px 0 1019px;
  padding: 16px 20px 17px;
}

.u-section-4 .u-text-12 {
  line-height: 2.2;
  margin: 16px -14px 1px 1033px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 59px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 188px;
  }

  .u-section-4 .u-btn-5 {
    margin-right: 181px;
  }

  .u-section-4 .u-btn-7 {
    margin-right: 52px;
  }

  .u-section-4 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: -15px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 797px;
    margin-left: 182px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 672px;
    margin-left: 202px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 544px;
    margin-left: 383px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 270px;
    margin-left: 541px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 148px;
    margin-left: 681px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 20px;
    margin-left: 800px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 919px;
  }

  .u-section-4 .u-btn-10 {
    margin-left: 919px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 833px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: -11px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 594px;
    margin-left: 139px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 562px;
    margin-left: 155px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 434px;
    margin-left: 293px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 160px;
    margin-left: 431px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 38px;
    margin-left: 571px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 600px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 809px;
  }

  .u-section-4 .u-btn-10 {
    margin-left: 809px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 613px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-3 {
    margin-left: -8px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 414px;
    margin-left: 104px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 424px;
    margin-left: 116px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 344px;
    margin-left: 220px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 70px;
    margin-left: 341px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 429px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 420px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 719px;
  }

  .u-section-4 .u-btn-10 {
    margin-left: 719px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 433px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-3 {
    margin-left: -5px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 214px;
    margin-left: 65px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 224px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 228px;
    margin-left: 139px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 211px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 229px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 220px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 619px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-10 {
    margin-left: 619px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
    margin-left: 219px;
  }
}.u-section-5 {
  background-image: url("images/new.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 795px;
}

.u-section-5 .u-group-1 {
  width: 518px;
  background-image: none;
  min-height: 65px;
  margin: 710px 0 20px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-icon-1 {
  height: 25px;
  width: 25px;
  margin: 20px auto 0 -13px;
}

.u-section-5 .u-icon-2 {
  height: 25px;
  width: 25px;
  margin: -25px auto 0 153px;
}

.u-section-5 .u-icon-3 {
  height: 25px;
  width: 25px;
  background-image: none;
  margin: -25px 102px 0 auto;
}

.u-section-5 .u-text-1 {
  font-size: 0.875rem;
  margin: -24px auto 0 35px;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  margin: -22px 0 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  margin: -22px auto 0 198px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-5 .u-group-1 {
    width: 497px;
    min-height: 184px;
    margin-top: -141px;
    margin-right: auto;
    margin-left: 243px;
  }

  .u-section-5 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-5 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-icon-3 {
    height: 64px;
    width: 64px;
    margin-right: 269px;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -78px;
    margin-right: 130px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 2px;
    margin-left: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-5 .u-group-1 {
    margin-left: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-5 .u-group-1 {
    margin-left: 43px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 142px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 95px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 74px;
  }
}.u-section-6 {
  background-image: url("images/wall11.jpg");
  background-position: 50% 50%;
  min-height: 993px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  width: 317px;
  margin: 27px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 48px auto 0 80px;
  padding: 23px 44px 25px 43px;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: -69px 650px 0 calc(((100% - 1140px) / 2) + 418px);
  padding: 23px 32px 24px 30px;
}

.u-section-6 .u-btn-3 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: -70px calc(((100% - 1140px) / 2) + 169px) 0 902px;
  padding: 23px 14px 24px 13px;
}

.u-section-6 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 41px calc(((100% - 1140px) / 2) + 1007px) 0 80px;
}

.u-section-6 .u-text-3 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -180px calc(((100% - 1140px) / 2) + 790px) 0 225px;
}

.u-section-6 .u-text-4 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 20px calc(((100% - 1140px) / 2) + 913px) 0 calc(((100% - 1140px) / 2) + 145px);
}

.u-section-6 .u-text-5 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -80px calc(((100% - 1140px) / 2) + 746px) 0 calc(((100% - 1140px) / 2) + 254px);
}

.u-section-6 .u-text-6 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -180px calc(((100% - 1140px) / 2) + 579px) 0 503px;
}

.u-section-6 .u-text-7 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 20px calc(((100% - 1140px) / 2) + 575px) 0 503px;
}

.u-section-6 .u-text-8 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 20px calc(((100% - 1140px) / 2) + 570px) 0 503px;
}

.u-section-6 .u-text-9 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -180px calc(((100% - 1140px) / 2) + 403px) 0 670px;
}

.u-section-6 .u-text-10 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 20px calc(((100% - 1140px) / 2) + 373px) 0 670px;
}

.u-section-6 .u-text-11 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 70px calc(((100% - 1140px) / 2) + 381px) 0 670px;
}

.u-section-6 .u-text-12 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -180px calc(((100% - 1140px) / 2) + 180px) 0 902px;
}

.u-section-6 .u-text-13 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 20px calc(((100% - 1140px) / 2) + 169px) 0 902px;
}

.u-section-6 .u-text-14 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -130px calc(((100% - 1140px) / 2) + 15px) 0 calc(((100% - 1140px) / 2) + 985px);
}

.u-section-6 .u-text-15 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 170px calc(((100% - 1140px) / 2) + 570px) 0 503px;
}

.u-section-6 .u-text-16 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 20px calc(((100% - 1140px) / 2) + 570px) 0 503px;
}

.u-section-6 .u-btn-4 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 91px auto 0 calc(((100% - 1140px) / 2));
  padding: 23px 19px 24px 18px;
}

.u-section-6 .u-btn-5 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: -69px auto 0 503px;
  padding: 24px 47px;
}

.u-section-6 .u-btn-6 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: -69px calc(((100% - 1140px) / 2) + 155px) 0 902px;
  padding: 24px 16px 24px 15px;
}

.u-section-6 .u-text-17 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 39px calc(((100% - 1140px) / 2) + 591px) 0 503px;
}

.u-section-6 .u-text-18 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -180px calc(((100% - 1140px) / 2) + 1007px) 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-text-19 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 20px calc(((100% - 1140px) / 2) + 1014px) 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-text-20 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -80px calc(((100% - 1140px) / 2) + 846px) 0 calc(((100% - 1140px) / 2) + 147px);
}

.u-section-6 .u-text-21 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -80px calc(((100% - 1140px) / 2) + 423px) 0 650px;
}

.u-section-6 .u-text-22 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 70px calc(((100% - 1140px) / 2) + 444px) 0 650px;
}

.u-section-6 .u-text-23 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -80px calc(((100% - 1140px) / 2) + 432px) 0 650px;
}

.u-section-6 .u-text-24 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -80px calc(((100% - 1140px) / 2) + 175px) 0 902px;
}

.u-section-6 .u-text-25 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 20px calc(((100% - 1140px) / 2) + 180px) 0 902px;
}

.u-section-6 .u-text-26 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -30px calc(((100% - 1140px) / 2) + 23px) 0 calc(((100% - 1140px) / 2) + 993px);
}

.u-section-6 .u-text-27 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: 120px calc(((100% - 1140px) / 2) + 593px) 0 503px;
}

.u-section-6 .u-text-28 {
  line-height: 2.2;
  font-size: 0.875rem;
  margin: -30px calc(((100% - 1140px) / 2) + 453px) 43px calc(((100% - 1140px) / 2) + 570px);
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 819px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 106px);
    margin-left: calc(((100% - 940px) / 2) + 636px);
  }

  .u-section-6 .u-btn-1 {
    width: 103px;
    margin-top: 75px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    width: 152px;
    margin-top: -9px;
    margin-right: 550px;
    margin-left: calc(((100% - 940px) / 2) + 318px);
  }

  .u-section-6 .u-btn-3 {
    width: 152px;
    margin-top: -39px;
    margin-right: calc(((100% - 940px) / 2) + 69px);
    margin-left: 802px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -49px;
    margin-right: calc(((100% - 940px) / 2) + 688px);
    margin-left: calc(((100% - 940px) / 2) + 152px);
  }

  .u-section-6 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 690px);
    margin-left: 125px;
  }

  .u-section-6 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 813px);
    margin-left: calc(((100% - 940px) / 2) + 45px);
  }

  .u-section-6 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 646px);
    margin-left: calc(((100% - 940px) / 2) + 154px);
  }

  .u-section-6 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2) + 479px);
    margin-left: 403px;
  }

  .u-section-6 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 475px);
    margin-left: 403px;
  }

  .u-section-6 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2) + 470px);
    margin-left: 403px;
  }

  .u-section-6 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 303px);
    margin-left: 570px;
  }

  .u-section-6 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2) + 273px);
    margin-left: 570px;
  }

  .u-section-6 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2) + 314px);
    margin-left: calc(((100% - 940px) / 2) + 486px);
  }

  .u-section-6 .u-text-12 {
    margin-top: -210px;
    margin-right: calc(((100% - 940px) / 2) + 80px);
    margin-left: 802px;
  }

  .u-section-6 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + 69px);
    margin-left: 802px;
  }

  .u-section-6 .u-text-14 {
    margin-top: -160px;
    margin-right: calc(((100% - 940px) / 2) + 51px);
    margin-left: calc(((100% - 940px) / 2) + 812px);
  }

  .u-section-6 .u-text-15 {
    margin-top: 140px;
    margin-right: calc(((100% - 940px) / 2) + 470px);
    margin-left: 403px;
  }

  .u-section-6 .u-text-16 {
    margin-right: calc(((100% - 940px) / 2) + 470px);
    margin-left: 403px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-btn-5 {
    width: 147px;
    margin-top: -70px;
    margin-left: 303px;
  }

  .u-section-6 .u-btn-6 {
    width: 147px;
    margin-top: -459px;
    margin-right: calc(((100% - 940px) / 2) + 55px);
    margin-left: 802px;
  }

  .u-section-6 .u-text-17 {
    margin-top: 80px;
    margin-right: calc(((100% - 940px) / 2) + 491px);
    margin-left: 403px;
  }

  .u-section-6 .u-text-18 {
    margin-right: calc(((100% - 940px) / 2) + 807px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-text-19 {
    margin-right: calc(((100% - 940px) / 2) + 793px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-text-20 {
    margin-right: calc(((100% - 940px) / 2) + 746px);
    margin-left: calc(((100% - 940px) / 2) + 47px);
  }

  .u-section-6 .u-text-21 {
    margin-right: calc(((100% - 940px) / 2) + 323px);
    margin-left: 550px;
  }

  .u-section-6 .u-text-22 {
    margin-right: calc(((100% - 940px) / 2) + 344px);
    margin-left: 550px;
  }

  .u-section-6 .u-text-23 {
    margin-right: calc(((100% - 940px) / 2) + 332px);
    margin-left: 550px;
  }

  .u-section-6 .u-text-24 {
    margin-right: calc(((100% - 940px) / 2) + 75px);
    margin-left: 802px;
  }

  .u-section-6 .u-text-25 {
    margin-top: 50px;
    margin-right: calc(((100% - 940px) / 2) + 80px);
    margin-left: 802px;
  }

  .u-section-6 .u-text-26 {
    margin-top: -60px;
    margin-right: calc(((100% - 940px) / 2) + 407px);
    margin-left: calc(((100% - 940px) / 2) + 816px);
  }

  .u-section-6 .u-text-27 {
    margin-top: -150px;
    margin-right: calc(((100% - 940px) / 2) + 493px);
    margin-left: 403px;
  }

  .u-section-6 .u-text-28 {
    margin-right: calc(((100% - 940px) / 2) + 353px);
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 627px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 81px);
    margin-left: calc(((100% - 720px) / 2) + 487px);
  }

  .u-section-6 .u-btn-2 {
    margin-top: 96px;
    margin-right: 440px;
    margin-left: calc(((100% - 720px) / 2) + 208px);
  }

  .u-section-6 .u-btn-3 {
    margin-top: -18px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: 651px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -174px;
    margin-right: calc(((100% - 720px) / 2) + 527px);
    margin-left: calc(((100% - 720px) / 2) + 116px);
  }

  .u-section-6 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 580px);
    margin-left: 15px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 35px;
    margin-right: calc(((100% - 720px) / 2) + 638px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 536px);
    margin-left: calc(((100% - 720px) / 2) + 44px);
  }

  .u-section-6 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 369px);
    margin-left: 293px;
  }

  .u-section-6 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 365px);
    margin-left: 293px;
  }

  .u-section-6 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2) + 360px);
    margin-left: 293px;
  }

  .u-section-6 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + 193px);
    margin-left: 460px;
  }

  .u-section-6 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2) + 163px);
    margin-left: 460px;
  }

  .u-section-6 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2) + 241px);
    margin-left: calc(((100% - 720px) / 2) + 372px);
  }

  .u-section-6 .u-text-12 {
    margin-top: -240px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: 662px;
  }

  .u-section-6 .u-text-13 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: 662px;
  }

  .u-section-6 .u-text-14 {
    margin-right: calc(((100% - 720px) / 2) + 39px);
    margin-left: calc(((100% - 720px) / 2) + 622px);
  }

  .u-section-6 .u-text-15 {
    margin-right: calc(((100% - 720px) / 2) + 360px);
    margin-left: 293px;
  }

  .u-section-6 .u-text-16 {
    margin-right: calc(((100% - 720px) / 2) + 360px);
    margin-left: 293px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-btn-5 {
    margin-left: 83px;
  }

  .u-section-6 .u-btn-6 {
    margin-top: -475px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: 637px;
  }

  .u-section-6 .u-text-17 {
    margin-right: calc(((100% - 720px) / 2) + 381px);
    margin-left: 293px;
  }

  .u-section-6 .u-text-18 {
    margin-right: calc(((100% - 720px) / 2) + 587px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-text-19 {
    margin-right: calc(((100% - 720px) / 2) + 573px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-text-20 {
    margin-right: calc(((100% - 720px) / 2) + 573px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-text-21 {
    margin-right: calc(((100% - 720px) / 2) + 213px);
    margin-left: 440px;
  }

  .u-section-6 .u-text-22 {
    margin-right: calc(((100% - 720px) / 2) + 234px);
    margin-left: 440px;
  }

  .u-section-6 .u-text-23 {
    margin-right: calc(((100% - 720px) / 2) + 222px);
    margin-left: 440px;
  }

  .u-section-6 .u-text-24 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: 657px;
  }

  .u-section-6 .u-text-25 {
    margin-right: calc(((100% - 720px) / 2) + 5px);
    margin-left: 657px;
  }

  .u-section-6 .u-text-26 {
    margin-right: calc(((100% - 720px) / 2) + 312px);
    margin-left: calc(((100% - 720px) / 2) + 596px);
  }

  .u-section-6 .u-text-27 {
    margin-right: calc(((100% - 720px) / 2) + 383px);
    margin-left: 293px;
  }

  .u-section-6 .u-text-28 {
    margin-right: calc(((100% - 720px) / 2) + 243px);
    margin-left: calc(((100% - 720px) / 2) + 360px);
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 470px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 61px);
    margin-left: calc(((100% - 540px) / 2) + 365px);
  }

  .u-section-6 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 141px;
    margin-right: 350px;
    margin-left: calc(((100% - 540px) / 2) + 118px);
  }

  .u-section-6 .u-btn-3 {
    margin-top: -19px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: 471px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -219px;
    margin-right: calc(((100% - 540px) / 2) + 395px);
    margin-left: calc(((100% - 540px) / 2) + 87px);
  }

  .u-section-6 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 415px);
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2) + 458px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 400px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + 279px);
    margin-left: 203px;
  }

  .u-section-6 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 275px);
    margin-left: 203px;
  }

  .u-section-6 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2) + 270px);
    margin-left: 203px;
  }

  .u-section-6 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2) + 103px);
    margin-left: 370px;
  }

  .u-section-6 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2) + 73px);
    margin-left: 370px;
  }

  .u-section-6 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2) + 181px);
    margin-left: calc(((100% - 540px) / 2) + 279px);
  }

  .u-section-6 .u-text-12 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: 482px;
  }

  .u-section-6 .u-text-13 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: 482px;
  }

  .u-section-6 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2) + 29px);
    margin-left: calc(((100% - 540px) / 2) + 467px);
  }

  .u-section-6 .u-text-15 {
    margin-right: calc(((100% - 540px) / 2) + 270px);
    margin-left: 203px;
  }

  .u-section-6 .u-text-16 {
    margin-right: calc(((100% - 540px) / 2) + 270px);
    margin-left: 203px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-6 {
    margin-top: -460px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: 457px;
  }

  .u-section-6 .u-text-17 {
    margin-right: calc(((100% - 540px) / 2) + 291px);
    margin-left: 203px;
  }

  .u-section-6 .u-text-18 {
    margin-right: calc(((100% - 540px) / 2) + 407px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-19 {
    margin-right: calc(((100% - 540px) / 2) + 393px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-20 {
    margin-right: calc(((100% - 540px) / 2) + 393px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-21 {
    margin-right: calc(((100% - 540px) / 2) + 123px);
    margin-left: 350px;
  }

  .u-section-6 .u-text-22 {
    margin-right: calc(((100% - 540px) / 2) + 144px);
    margin-left: 350px;
  }

  .u-section-6 .u-text-23 {
    margin-right: calc(((100% - 540px) / 2) + 132px);
    margin-left: 350px;
  }

  .u-section-6 .u-text-24 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: 477px;
  }

  .u-section-6 .u-text-25 {
    margin-right: calc(((100% - 540px) / 2) + 5px);
    margin-left: 477px;
  }

  .u-section-6 .u-text-26 {
    margin-right: calc(((100% - 540px) / 2) + 234px);
    margin-left: calc(((100% - 540px) / 2) + 416px);
  }

  .u-section-6 .u-text-27 {
    margin-right: calc(((100% - 540px) / 2) + 293px);
    margin-left: 203px;
  }

  .u-section-6 .u-text-28 {
    margin-right: calc(((100% - 540px) / 2) + 153px);
    margin-left: calc(((100% - 540px) / 2) + 270px);
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 296px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 87px;
    margin-right: calc(((100% - 340px) / 2) + 38px);
    margin-left: calc(((100% - 340px) / 2) + 230px);
  }

  .u-section-6 .u-btn-1 {
    margin-top: -89px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 651px;
    margin-right: 250px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-btn-3 {
    margin-top: -49px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: 271px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -699px;
    margin-right: calc(((100% - 340px) / 2) + 249px);
    margin-left: calc(((100% - 340px) / 2) + 55px);
  }

  .u-section-6 .u-text-3 {
    margin-top: -120px;
    margin-right: calc(((100% - 340px) / 2) + 215px);
  }

  .u-section-6 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2) + 258px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2) + 200px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2) + 179px);
    margin-left: 103px;
  }

  .u-section-6 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2) + 175px);
    margin-left: 103px;
  }

  .u-section-6 .u-text-8 {
    margin-right: calc(((100% - 340px) / 2) + 170px);
    margin-left: 103px;
  }

  .u-section-6 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2) + 3px);
    margin-left: 270px;
  }

  .u-section-6 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: 270px;
  }

  .u-section-6 .u-text-11 {
    margin-top: 40px;
    margin-right: calc(((100% - 340px) / 2) + 114px);
    margin-left: calc(((100% - 340px) / 2) + 176px);
  }

  .u-section-6 .u-text-12 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: 282px;
  }

  .u-section-6 .u-text-13 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: 282px;
  }

  .u-section-6 .u-text-14 {
    margin-right: calc(((100% - 340px) / 2) + 18px);
    margin-left: calc(((100% - 340px) / 2) + 294px);
  }

  .u-section-6 .u-text-15 {
    margin-right: calc(((100% - 340px) / 2) + 170px);
    margin-left: 103px;
  }

  .u-section-6 .u-text-16 {
    margin-right: calc(((100% - 340px) / 2) + 170px);
    margin-left: 103px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-btn-6 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: 257px;
  }

  .u-section-6 .u-text-17 {
    margin-top: 20px;
    margin-right: calc(((100% - 340px) / 2) + 249px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-18 {
    margin-right: calc(((100% - 340px) / 2) + 207px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-19 {
    margin-right: calc(((100% - 340px) / 2) + 193px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-20 {
    margin-right: calc(((100% - 340px) / 2) + 193px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-21 {
    margin-right: calc(((100% - 340px) / 2) + 23px);
    margin-left: 250px;
  }

  .u-section-6 .u-text-22 {
    margin-right: calc(((100% - 340px) / 2) + 44px);
    margin-left: 250px;
  }

  .u-section-6 .u-text-23 {
    margin-right: calc(((100% - 340px) / 2) + 32px);
    margin-left: 250px;
  }

  .u-section-6 .u-text-24 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: 277px;
  }

  .u-section-6 .u-text-25 {
    margin-right: calc(((100% - 340px) / 2) + 5px);
    margin-left: 277px;
  }

  .u-section-6 .u-text-26 {
    margin-right: calc(((100% - 340px) / 2) + 147px);
    margin-left: calc(((100% - 340px) / 2) + 216px);
  }

  .u-section-6 .u-text-27 {
    margin-right: calc(((100% - 340px) / 2) + 193px);
    margin-left: 103px;
  }

  .u-section-6 .u-text-28 {
    margin-right: calc(((100% - 340px) / 2) + 53px);
    margin-left: calc(((100% - 340px) / 2) + 170px);
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 900px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 70px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 24px auto 0 0;
}

.u-section-7 .u-image-1 {
  width: 323px;
  height: 190px;
  margin: -126px 20px 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 3rem;
  margin: 134px auto 0;
}

.u-section-7 .u-image-2 {
  height: 354px;
  margin: 0 auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-3 {
    margin-top: -26px;
  }

  .u-section-7 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    margin-right: 17px;
  }
}.u-section-8 {
  background-image: none;
  min-height: 819px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  margin: 94px calc(((100% - 1140px) / 2) + 845px) 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 20px calc(((100% - 1140px) / 2) + 414px) 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-image-1 {
  height: 537px;
  margin: 0 auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 697px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 214px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 534px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 401px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 252px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-9 {
  background-image: none;
  min-height: 730px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  margin: 51px calc(((100% - 1140px) / 2) + 650px) 0 80px;
}

.u-section-9 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 16px calc(((100% - 1140px) / 2) + 509px) 0 80px;
}

.u-section-9 .u-image-1 {
  height: 531px;
  margin: 30px auto 0 80px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 536px);
    margin-left: 66px;
  }

  .u-section-9 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 323px);
    margin-left: 66px;
  }

  .u-section-9 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 411px);
    margin-left: 51px;
  }

  .u-section-9 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 118px);
    margin-left: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 308px);
    margin-left: 38px;
  }

  .u-section-9 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 194px);
    margin-left: 24px;
  }

  .u-section-9 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: 24px;
  }
}.u-section-10 {
  background-image: none;
  min-height: 794px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  margin: 40px calc(((100% - 1140px) / 2) + 447px) 0;
}

.u-section-10 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 20px calc(((100% - 1140px) / 2) + 205px) 0;
}

.u-section-10 .u-image-1 {
  height: 619px;
  margin: 14px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 369px);
    margin-left: calc(((100% - 940px) / 2) + 369px);
  }

  .u-section-10 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 169px);
    margin-left: calc(((100% - 940px) / 2) + 169px);
  }

  .u-section-10 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 283px);
    margin-left: calc(((100% - 720px) / 2) + 283px);
  }

  .u-section-10 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 129px);
    margin-left: calc(((100% - 720px) / 2) + 129px);
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 212px);
    margin-left: calc(((100% - 540px) / 2) + 212px);
  }

  .u-section-10 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 97px);
    margin-left: calc(((100% - 540px) / 2) + 97px);
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 133px);
    margin-left: calc(((100% - 340px) / 2) + 133px);
  }

  .u-section-10 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 61px);
    margin-left: calc(((100% - 340px) / 2) + 61px);
  }
}.u-section-11 {
  background-image: none;
  min-height: 1199px;
}

.u-section-11 .u-text-1 {
  font-size: 3rem;
  margin: 85px calc(((100% - 1140px) / 2) + 873px) 0 80px;
}

.u-section-11 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 27px calc(((100% - 1140px) / 2) + 387px) 0 80px;
}

.u-section-11 .u-image-1 {
  height: 443px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-image-2 {
  height: 542px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-3 {
  font-size: 3rem;
  margin: -90px calc(((100% - 1140px) / 2) + 74px) 38px calc(((100% - 1140px) / 2) + 26px);
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 720px);
    margin-left: 66px;
  }

  .u-section-11 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 201px);
    margin-left: 66px;
  }

  .u-section-11 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-2 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 551px);
    margin-left: 51px;
  }

  .u-section-11 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: 51px;
  }

  .u-section-11 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 413px);
    margin-left: 38px;
  }

  .u-section-11 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: 38px;
  }

  .u-section-11 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 260px);
    margin-left: 24px;
  }

  .u-section-11 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: 24px;
  }

  .u-section-11 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-12 {
  background-image: none;
  min-height: 1001px;
}

.u-section-12 .u-image-1 {
  width: 1297px;
  height: 717px;
  margin: 0 auto 0 0;
}

.u-section-12 .u-image-2 {
  width: 142px;
  height: 283px;
  margin: -228px auto 0;
}

.u-section-12 .u-image-3 {
  width: 164px;
  height: 323px;
  margin: -105px auto 0 calc(((100% - 1140px) / 2) + 184px);
}

.u-section-12 .u-image-4 {
  width: 164px;
  height: 322px;
  margin: -322px calc(((100% - 1140px) / 2) + 184px) 12px auto;
}

@media (max-width: 1199px) {
  .u-section-12 {
    min-height: 804px;
  }

  .u-section-12 .u-image-1 {
    width: 940px;
    height: 519px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-12 .u-image-2 {
    margin-top: -31px;
  }

  .u-section-12 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 184px);
  }

  .u-section-12 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 184px);
  }
}

@media (max-width: 991px) {
  .u-section-12 {
    min-height: 683px;
  }

  .u-section-12 .u-image-1 {
    width: 720px;
    height: 398px;
  }

  .u-section-12 .u-image-2 {
    margin-top: 90px;
  }

  .u-section-12 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 184px);
  }

  .u-section-12 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + 184px);
  }
}

@media (max-width: 767px) {
  .u-section-12 {
    min-height: 584px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 299px;
  }

  .u-section-12 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 184px);
  }

  .u-section-12 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 184px);
  }
}

@media (max-width: 575px) {
  .u-section-12 {
    min-height: 473px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 188px;
  }

  .u-section-12 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 176px);
  }

  .u-section-12 .u-image-4 {
    margin-right: calc(((100% - 340px) / 2) + 176px);
  }
}.u-section-13 {
  background-image: url("images/wall11.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-sheet-1 {
  min-height: 290px;
}

.u-section-13 .u-icon-1 {
  height: 49px;
  width: 49px;
  margin: 85px auto 0;
}

.u-section-13 .u-text-1 {
  font-size: 3rem;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 374px;
  }
}.u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 823px;
}

.u-section-14 .u-image-1 {
  height: 761px;
  margin: 37px auto 25px 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 759px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 626px;
  }
}.u-section-15 {
  background-image: none;
  min-height: 2752px;
}

.u-section-15 .u-image-1 {
  height: 833px;
  margin: 1px auto 0 0;
}

.u-section-15 .u-image-2 {
  height: 341px;
  margin: 0 auto 0 0;
}

.u-section-15 .u-image-3 {
  height: 832px;
  margin: 0 auto 0 0;
}

.u-section-15 .u-image-4 {
  width: 1046px;
  height: 691px;
  margin: 35px calc(((100% - 1140px) / 2)) 20px auto;
}

@media (max-width: 1199px) {
  .u-section-15 {
    min-height: 2682px;
  }

  .u-section-15 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-image-4 {
    width: 940px;
    height: 621px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-15 {
    min-height: 2537px;
  }

  .u-section-15 .u-image-4 {
    width: 720px;
    height: 476px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-15 {
    min-height: 2418px;
  }

  .u-section-15 .u-image-4 {
    width: 540px;
    height: 357px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-15 {
    min-height: 2286px;
  }

  .u-section-15 .u-image-4 {
    width: 340px;
    height: 225px;
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 2551px;
}

.u-section-16 .u-image-1 {
  width: 1059px;
  height: 597px;
  margin: 59px auto 0 0;
}

.u-section-16 .u-image-2 {
  width: 1058px;
  height: 597px;
  margin: 82px 0 0 auto;
}

.u-section-16 .u-image-3 {
  width: 1058px;
  height: 594px;
  margin: 82px auto 0 0;
}

.u-section-16 .u-image-4 {
  width: 188px;
  height: 81px;
  margin: 148px 435px 0 auto;
}

.u-section-16 .u-text-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8;
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 2351px;
  }

  .u-section-16 .u-image-1 {
    width: 940px;
    height: 530px;
  }

  .u-section-16 .u-image-2 {
    width: 940px;
    height: 530px;
  }

  .u-section-16 .u-image-3 {
    width: 940px;
    height: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 1980px;
  }

  .u-section-16 .u-image-1 {
    width: 720px;
    height: 406px;
  }

  .u-section-16 .u-image-2 {
    width: 720px;
    height: 406px;
  }

  .u-section-16 .u-image-3 {
    width: 720px;
    height: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 1677px;
  }

  .u-section-16 .u-image-1 {
    width: 540px;
    height: 305px;
  }

  .u-section-16 .u-image-2 {
    width: 540px;
    height: 305px;
  }

  .u-section-16 .u-image-3 {
    width: 540px;
    height: 303px;
  }

  .u-section-16 .u-image-4 {
    margin-right: 352px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-16 .u-image-1 {
    width: 340px;
    height: 192px;
  }

  .u-section-16 .u-image-2 {
    width: 340px;
    height: 192px;
  }

  .u-section-16 .u-image-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-16 .u-image-4 {
    margin-right: 152px;
  }
}